In [1]:
import numpy as np
import pandas as pd
import os
import pickle
from tqdm import tqdm

# Get the size of the file for the progress bar
file_path = "E:/fab-data/simplified_tournament_data.pkl"
file_size = os.path.getsize(file_path)

# A list to hold all tournament data objects
all_tournament_data = []

# Open the pickle file for reading
with open(file_path, "rb") as f:
    with tqdm(total=file_size, unit='B', unit_scale=True, desc='Loading data') as pbar:
        while True:
            try:
                # Tell the progress bar how much data has been read so far
                pos_before = f.tell()
                
                # Load the next tournament data object from the file
                tournament_data = pickle.load(f)
                
                # Update the progress bar with the number of bytes read
                pos_after = f.tell()
                pbar.update(pos_after - pos_before)
                
                all_tournament_data.append(tournament_data)
            except EOFError:
                # No More data
                break
print(len(all_tournament_data))

Loading data: 100%|██████████| 1.45G/1.45G [01:47<00:00, 13.4MB/s]

# Loading Player and Deck data

In [6]:
# Constants
default_skill_value = 0 # value for a players skill if no player_skill is provided on player creation
skill_value_modifier = 0.03
total_of_decks = 11 # total amount of decks
player_num = 512 # total number of players in a tournament
num_rounds = 14 # total number of rounds in a tournament



# Player Tournament and classes
import numpy as np
import pandas as pd
from threading import Lock

class Deck:
    def __init__(self, name):
        self.name = name
        self.matchup_spread = {}

    def set_matchup_win_prob(self, opponent_deck_name, win_prob):
        self.matchup_spread[opponent_deck_name] = win_prob

    def get_matchup_win_prob(self, opponent_deck_name):
        return self.matchup_spread.get(opponent_deck_name, 0.5)
    
    def __str__(self):
        return self.name
    
    def __reduce__(self):
        # Return the class itself, arguments, and the state
        return (self.__class__, (self.name,), {'name': self.name, 'matchup_spread': self.matchup_spread})
    
    def __setstate__(self, state):
        # Set the object's state from the given state dictionary
        self.__dict__.update(state)

class DeckManager:
    def __init__(self):
        self.decks = {}

    def add_deck(self, deck):
        self.decks[deck.name] = deck

    def generate_win_probabilities(self, deck_names):
        num_decks = len(deck_names)
        for i in range(num_decks):
            for j in range(i + 1, num_decks):
                win_prob = np.clip(np.random.normal(0.5, 0.15), 0, 1)
                self.decks[deck_names[i]].set_matchup_win_prob(deck_names[j], win_prob)
                self.decks[deck_names[j]].set_matchup_win_prob(deck_names[i], 1 - win_prob)

    def get_win_prob_matrix(self):
        deck_names = list(self.decks.keys())
        num_decks = len(deck_names)
        matrix = np.zeros((num_decks, num_decks))
        for i in range(num_decks):
            for j in range(num_decks):
                matrix[i, j] = self.decks[deck_names[i]].get_matchup_win_prob(deck_names[j])
        return matrix

    def get_win_prob_dataframe(self):
        deck_names = list(self.decks.keys())
        num_decks = len(deck_names)
        matrix = np.zeros((num_decks, num_decks))
        for i in range(num_decks):
            for j in range(num_decks):
                matrix[i, j] = self.decks[deck_names[i]].get_matchup_win_prob(deck_names[j])
        df = pd.DataFrame(matrix, index=deck_names, columns=deck_names)
        return df

    def load_win_probabilities_from_csv(self, file_path):
        # Read the Excel file
        df = pd.read_csv(file_path, header=0, index_col=0)
        
        # Drop the Representation column if it exists
        if 'Representation' in df.columns:
            df = df.drop(columns=['Representation'])
        
        # Ensure decks are added to the manager
        deck_names = df.index.to_list()
        for deck_name in deck_names:
            if deck_name not in self.decks:
                self.add_deck(Deck(deck_name))
        
        # Populate the matchup probabilities
        for i, row in df.iterrows():
            for j, value in row.items():
                self.decks[i].set_matchup_win_prob(j, value)
    
    def __reduce__(self):
        # Return the class itself, no arguments, and the state
        return (self.__class__, (), {'decks': self.decks})
    
    def __setstate__(self, state):
        # Set the object's state from the given state dictionary
        self.__dict__.update(state)

class Player:
    def __init__(self, player_id, alias, player_skill=default_skill_value, deck=None):
        self.id = player_id
        self.alias = alias
        self.skill = player_skill
        self.deck = deck
        self.wins = 0
        self.losses = 0
        self.history = []  # List to store match results
        self.history_lock = Lock()
    
    def __reduce__(self):
        # The object's state is returned as a tuple:
        # (callable, arguments_to_callable, additional_state)
        # Lock object is not pickled, so we're not including it in the state.
        return (self.__class__, (self.id, self.alias, self.skill, self.deck), {'wins': self.wins, 'losses': self.losses, 'history': self.history})
    
    def __setstate__(self, state):
        self.wins = state.get('wins', 0)
        self.losses = state.get('losses', 0)
        self.history = state.get('history', [])
        self.history_lock = Lock()  # Initialize a new Lock object after unpickling

    def set_deck(self, deck):
        """Set the deck for the player."""
        self.deck = deck

    def get_deck(self):
        """Retrieve the player's deck."""
        return self.deck

    def record_match(self, tournament, tournament_round, opponent, result):
        with self.history_lock:
            self.history.append([tournament.name, tournament_round, str(opponent.id) + opponent.alias, result])
            
    def get_tournament_history(self, tournament):
        tournament_results = [history for history in self.history if history[0] == tournament.name]
        return tournament_results

    def get_tournament_standing(self, tournament):
        tournament_results = [history for history in self.history if history[0] == tournament.name]
        wins = 0
        losses = 0
        for match in tournament_results:
            result = match[-1]
            if result == "W":
                wins += 1
            elif result == "L":
                losses += 1
        return (wins, losses)

    def __str__(self):
        return f"[{self.id}] {self.alias} ({self.get_deck().name}) - Skill Level: {self.skill}"

    def __repr__(self):
        return f"[{self.id}] {self.alias} ({self.get_deck().name}) - Skill Level: {self.skill}"

In [7]:
with open("deck_manager.pkl", "rb") as f:
    deck_manager = pickle.load(f)
with open("players.pkl", "rb") as f:
    players = pickle.load(f)

# Analysis

In [14]:
import pandas as pd

def update_player_tournament_placements(player_placements, tournament):
    top_64 = tournament['top_64']
    for placement, player_id in enumerate(top_64, start=1):
        # Initialize the player's record if not present
        if player_id not in player_placements:
            player_placements[player_id] = {'top_8': 0, 'top_16': 0, 'top_32': 0, 'top_64': 0}
        
        # Update top placements
        if placement <= 8:
            player_placements[player_id]['top_8'] += 1
        elif placement <= 16:
            player_placements[player_id]['top_16'] += 1
        elif placement <= 32:
            player_placements[player_id]['top_32'] += 1
        elif placement <= 64:
            player_placements[player_id]['top_64'] += 1

def create_dataframe(players, player_placements):
    # Prepare the data for the DataFrame
    data = []
    for player in players:
        # Include only players who have placement records
        if player.id in player_placements:
            data.append({
                'player_id': player.id,
                'alias': player.alias,
                'skill': round(player.skill, 3),
                'deck_name': player.deck.name,
                'top_8': player_placements[player.id]['top_8'],
                'top_16': player_placements[player.id]['top_16'],
                'top_32': player_placements[player.id]['top_32'],
                'top_64': player_placements[player.id]['top_64'],
            })

    # Create the DataFrame
    df = pd.DataFrame(data)
    return df

In [16]:
player_placements = {}
for tournament in all_tournament_data:  # Assuming 'tournaments' is your list of tournament dicts
    update_player_tournament_placements(player_placements, tournament)

# Assuming 'players' is your list of player objects
df = create_dataframe(players, player_placements)

# Export the DataFrame to a CSV file
df.to_csv('player_placements.csv', index=False)
df

     player_id      alias  skill  deck_name  top_8  top_16  top_32  top_64
0            0    Theresa -0.991     Rhinar   2460    5838      13   12187
1            1    Orville -1.022     Boltyn    354    1357       1    4489
2            2    Patrice -0.098  Iyslander   2123    5372      34   12023
3            3   Charlene -2.013       Dash   1274    3548      24    8535
4            4       Mary  0.252      Uzuri   1042    3112      43    8637
..         ...        ...    ...        ...    ...     ...     ...     ...
507        507      James -0.537  Dorinthea    201     985       0    3319
508        508      Kelly  1.638  Iyslander    987    3143       0    8482
509        509     Joseph -1.152     Dromai    390    1663       0    5248
510        510   Penelope  2.010     Rhinar   2251    6037       0   13141
511        511  Katherine  0.669     Azalea    383    1619       0    4978

[512 rows x 8 columns]

In [20]:
# Constants
TOTAL_TOURNAMENTS = len(all_tournament_data)

# Group by 'deck_name' and aggregate the data
deck_grouped = df.groupby('deck_name').agg({
    'skill': ['mean', 'max'],
    'top_8': 'sum',
    'top_16': 'sum',
    'top_32': 'sum',
    'top_64': 'sum',
}).reset_index()

# Flatten the MultiIndex in columns
deck_grouped.columns = ['_'.join(col).strip() if col[1] else col[0] for col in deck_grouped.columns.values]

# Rename the columns
deck_grouped.rename(columns={
    'skill_mean': 'average_skill',
    'skill_max': 'highest_skill',
    'top_8_sum': 'total_top_8',
    'top_16_sum': 'total_top_16',
    'top_32_sum': 'total_top_32',
    'top_64_sum': 'total_top_64',
}, inplace=True)

# Calculate the frequency of top placements for each deck
deck_grouped['frequency_top_8'] = deck_grouped['total_top_8'] / TOTAL_TOURNAMENTS
deck_grouped['frequency_top_16'] = deck_grouped['total_top_16'] / TOTAL_TOURNAMENTS
deck_grouped['frequency_top_32'] = deck_grouped['total_top_32'] / TOTAL_TOURNAMENTS
deck_grouped['frequency_top_64'] = deck_grouped['total_top_64'] / TOTAL_TOURNAMENTS

# Calculate the representation of each deck in top placements
deck_grouped['representation_top_8'] = deck_grouped['total_top_8'] / (8 * TOTAL_TOURNAMENTS)
deck_grouped['representation_top_16'] = deck_grouped['total_top_16'] / (16 * TOTAL_TOURNAMENTS)
deck_grouped['representation_top_32'] = deck_grouped['total_top_32'] / (32 * TOTAL_TOURNAMENTS)
deck_grouped['representation_top_64'] = deck_grouped['total_top_64'] / (64 * TOTAL_TOURNAMENTS)

# Optionally, sort the DataFrame based on a relevant column
deck_grouped.sort_values(by='representation_top_8', ascending=False, inplace=True)

# Export the DataFrame to a CSV file
deck_grouped.to_csv('deck_aggregated_data_with_representations.csv', index=False)
deck_grouped

,deck_name,average_skill,highest_skill,total_top_8,total_top_16,total_top_32,total_top_64,frequency_top_8,frequency_top_16,frequency_top_32,frequency_top_64,representation_top_8,representation_top_16,representation_top_32,representation_top_64
5,Dromai,-0.019939,1.920,246495,250466,465348,885957,2.46495,2.50466,4.65348,8.85957,0.308119,0.156541,0.145421,0.138431
3,Dash,-0.082710,1.944,138611,99053,278700,408833,1.38611,0.99053,2.78700,4.08833,0.173264,0.061908,0.087094,0.063880
8,Katsu,0.038019,2.553,88012,113740,135607,392429,0.88012,1.13740,1.35607,3.92429,0.110015,0.071087,0.042377,0.061317
2,Bravo,-0.046435,1.865,84979,67667,180370,358462,0.84979,0.67667,1.80370,3.58462,0.106224,0.042292,0.056366,0.056010
6,Fai,0.096167,1.830,61558,68892,116310,275875,0.61558,0.68892,1.16310,2.75875,0.076948,0.043057,0.036347,0.043105
7,Iyslander,-0.030522,1.887,56934,56413,143578,248011,0.56934,0.56413,1.43578,2.48011,0.071167,0.035258,0.044868,0.038752
9,Rhinar,-0.215963,2.010,43139,47348,83587,156314,0.43139,0.47348,0.83587,1.56314,0.053924,0.029593,0.026121,0.024424
0,Azalea,0.057703,2.308,34766,34316,82436,189828,0.34766,0.34316,0.82436,1.89828,0.043458,0.021448,0.025761,0.029661
4,Dorinthea,-0.037500,1.854,18696,20555,44743,94484,0.18696,0.20555,0.44743,0.94484,0.023370,0.012847,0.013982,0.014763
10,Uzuri,0.113579,2.553,18011,26096,46982,127263,0.18011,0.26096,0.46982,1.27263,0.022514,0.016310,0.014682,0.019885
1,Boltyn,-0.216684,1.139,8799,15454,22339,62544,0.08799,0.15454,0.22339,0.62544,0.010999,0.009659,0.006981,0.009772

In [23]:
all_tournament_data[0]

{'tournament_id': 0,
 'top_64': [95,
  217,
  238,
  508,
  28,
  84,
  129,
  162,
  272,
  290,
  387,
  417,
  427,
  449,
  470,
  15,
  34,
  48,
  66,
  81,
  89,
  93,
  121,
  130,
  150,
  183,
  189,
  201,
  225,
  251,
  261,
  283,
  302,
  311,
  324,
  329,
  350,
  356,
  369,
  393,
  425,
  437,
  452,
  468,
  503,
  510,
  2,
  13,
  18,
  30,
  32,
  45,
  54,
  55,
  59,
  69,
  79,
  98,
  106,
  108,
  115,
  120,
  127,
  144],
 'top_64_runs': {95: [('94Howard', 'W'),
   ('93Linda', 'L'),
   ('94Howard', 'W'),
   ('89Fran', 'W'),
   ('93Linda', 'W'),
   ('88Donald', 'W'),
   ('79Sandra', 'W'),
   ('84Brian', 'W'),
   ('130Keisha', 'W'),
   ('183Eustolia', 'W'),
   ('449Cindy', 'W'),
   ('238Janice', 'L'),
   ('84Brian', 'W'),
   ('238Janice', 'W')],
  217: [('216Jason', 'L'),
   ('219Owen', 'W'),
   ('216Jason', 'W'),
   ('212John', 'L'),
   ('215Latasha', 'W'),
   ('223Glenn', 'W'),
   ('231Christopher', 'W'),
   ('225Betsy', 'W'),
   ('237Jean', 'W'),
   ('198Frances', 'W'),
   ('261Matthew', 'W'),
   ('213Carlos', 'W'),
   ('129Martin', 'W'),
   ('417Jimmy', 'W')],
  238: [('239Julie', 'W'),
   ('237Jean', 'L'),
   ('236Carole', 'W'),
   ('237Jean', 'W'),
   ('235Rodolfo', 'W'),
   ('227Frances', 'W'),
   ('242Rodney', 'W'),
   ('251Stephen', 'W'),
   ('261Matthew', 'W'),
   ('290Suzanne', 'W'),
   ('129Martin', 'W'),
   ('95Bernard', 'W'),
   ('449Cindy', 'W'),
   ('95Bernard', 'L')],
  508: [('509Joseph', 'W'),
   ('511Katherine', 'W'),
   ('506Alisha', 'W'),
   ('496Barbara', 'W'),
   ('492Melissa', 'W'),
   ('449Cindy', 'L'),
   ('474Willie', 'W'),
   ('510Penelope', 'W'),
   ('470Alyce', 'W'),
   ('417Jimmy', 'W'),
   ('15Pedro', 'W'),
   ('449Cindy', 'L'),
   ('470Alyce', 'W'),
   ('449Cindy', 'W')],
  28: [('29Corey', 'W'),
   ('30Elmer', 'W'),
   ('27Robert', 'W'),
   ('21Michael', 'W'),
   ('2Patrice', 'W'),
   ('48Andrew', 'W'),
   ('84Brian', 'W'),
   ('129Martin', 'L'),
   ('324William', 'L'),
   ('18Matthew', 'L'),
   ('24Richard', 'W'),
   ('32Damian', 'W'),
   ('15Pedro', 'W'),
   ('34Martha', 'W')],
  84: [('85Bernard', 'W'),
   ('87Laurence', 'W'),
   ('83Frances', 'W'),
   ('93Linda', 'W'),
   ('66Deanna', 'W'),
   ('98Brenda', 'W'),
   ('28Rosa', 'L'),
   ('95Bernard', 'L'),
   ('121Erica', 'W'),
   ('130Keisha', 'W'),
   ('89Fran', 'W'),
   ('48Andrew', 'W'),
   ('95Bernard', 'L'),
   ('89Fran', 'W')],
  129: [('128Lucille', 'W'),
   ('131Jeffrey', 'W'),
   ('133William', 'W'),
   ('142Deanne', 'W'),
   ('154Roy', 'W'),
   ('162Lucinda', 'W'),
   ('251Stephen', 'W'),
   ('28Rosa', 'W'),
   ('449Cindy', 'L'),
   ('324William', 'W'),
   ('238Janice', 'L'),
   ('162Lucinda', 'W'),
   ('217Fannie', 'L'),
   ('130Keisha', 'W')],
  162: [('163Rodger', 'W'),
   ('160Margarita', 'W'),
   ('164Jerry', 'W'),
   ('169Paul', 'W'),
   ('189Carl', 'W'),
   ('129Martin', 'L'),
   ('154Roy', 'L'),
   ('164Jerry', 'W'),
   ('150Casey', 'W'),
   ('168Robert', 'W'),
   ('127Emmanuel', 'W'),
   ('129Martin', 'L'),
   ('187Billy', 'W'),
   ('189Carl', 'W')],
  272: [('273Charlie', 'W'),
   ('274James', 'L'),
   ('275Jason', 'W'),
   ('277Kimberly', 'L'),
   ('275Jason', 'W'),
   ('271Paul', 'L'),
   ('275Jason', 'W'),
   ('279Matthew', 'W'),
   ('266Traci', 'W'),
   ('252Ruby', 'W'),
   ('267Jean', 'W'),
   ('263James', 'W'),
   ('232Andre', 'W'),
   ('283Dawn', 'W')],
  290: [('291Donna', 'W'),
   ('289Susan', 'W'),
   ('293David', 'W'),
   ('302Elena', 'W'),
   ('319Emma', 'W'),
   ('274James', 'L'),
   ('267Jean', 'W'),
   ('305Virginia', 'W'),
   ('333Pauline', 'W'),
   ('238Janice', 'L'),
   ('287Katrina', 'W'),
   ('296Thelma', 'W'),
   ('417Jimmy', 'L'),
   ('324William', 'W')],
  387: [('386Yvonne', 'W'),
   ('385James', 'W'),
   ('391Juan', 'L'),
   ('386Yvonne', 'W'),
   ('390Donald', 'W'),
   ('397Ronald', 'W'),
   ('403Karl', 'W'),
   ('379Louise', 'W'),
   ('417Jimmy', 'L'),
   ('404Jack', 'W'),
   ('417Jimmy', 'L'),
   ('397Ronald', 'W'),
   ('378Jennifer', 'W'),
   ('350Jennifer', 'W')],
  417: [('416Diane', 'W'),
   ('419Ruth', 'L'),
   ('416Diane', 'W'),
   ('419Ruth', 'W'),
   ('420Marie', 'W'),
   ('424Jesse', 'W'),
   ('432Kevin', 'W'),
   ('404Jack', 'W'),
   ('387Nancy', 'W'),
   ('508Kelly', 'L'),
   ('387Nancy', 'W'),
   ('350Jennifer', 'W'),
   ('290Suzanne', 'W'),
   ('217Fannie', 'L')],
  427: [('426Kaitlin', 'W'),
   ('424Jesse', 'L'),
   ('425Eddie', 'L'),
   ('431Belen', 'W'),
   ('429Deena', 'W'),
   ('434Gregory', 'W'),
   ('440Brenda', 'W'),
   ('430Robert', 'W'),
   ('425Eddie', 'L'),
   ('423Brian', 'W'),
   ('437Eric', 'W'),
   ('414Josefina', 'W'),
   ('425Eddie', 'W'),
   ('452Mark', 'W')],
  449: [('448Loretta', 'W'),
   ('450David', 'W'),
   ('452Mark', 'W'),
   ('461Maria', 'W'),
   ('474Willie', 'W'),
   ('508Kelly', 'W'),
   ('404Jack', 'W'),
   ('324William', 'W'),
   ('129Martin', 'W'),
   ('34Martha', 'W'),
   ('95Bernard', 'L'),
   ('508Kelly', 'W'),
   ('238Janice', 'L'),
   ('508Kelly', 'L')],
  470: [('471Kim', 'W'),
   ('469Ryan', 'W'),
   ('465Katherine', 'W'),
   ('474Willie', 'L'),
   ('477Jason', 'W'),
   ('468John', 'W'),
   ('450David', 'W'),
   ('443Lexie', 'W'),
   ('508Kelly', 'L'),
   ('510Penelope', 'W'),
   ('503Erika', 'W'),
   ('425Eddie', 'W'),
   ('508Kelly', 'L'),
   ('510Penelope', 'W')],
  15: [('14Benjamin', 'W'),
   ('13Jennifer', 'W'),
   ('11Amy', 'W'),
   ('2Patrice', 'L'),
   ('11Amy', 'L'),
   ('0Theresa', 'W'),
   ('6Anthony', 'W'),
   ('11Amy', 'W'),
   ('2Patrice', 'W'),
   ('32Damian', 'W'),
   ('508Kelly', 'L'),
   ('2Patrice', 'W'),
   ('28Rosa', 'L'),
   ('13Jennifer', 'W')],
  34: [('35Joan', 'W'),
   ('32Damian', 'L'),
   ('33Louise', 'W'),
   ('38Jackie', 'W'),
   ('39Betty', 'W'),
   ('45Barbara', 'W'),
   ('49Sandy', 'W'),
   ('18Matthew', 'W'),
   ('66Deanna', 'W'),
   ('449Cindy', 'L'),
   ('48Andrew', 'L'),
   ('59James', 'W'),
   ('48Andrew', 'W'),
   ('28Rosa', 'L')],
  48: [('49Sandy', 'W'),
   ('50Lisa', 'W'),
   ('53Joanne', 'W'),
   ('59James', 'W'),
   ('32Damian', 'W'),
   ('28Rosa', 'L'),
   ('2Patrice', 'W'),
   ('66Deanna', 'L'),
   ('18Matthew', 'W'),
   ('66Deanna', 'W'),
   ('34Martha', 'W'),
   ('84Brian', 'L'),
   ('34Martha', 'L'),
   ('32Damian', 'W')],
  66: [('67Mary', 'W'),
   ('65Candace', 'W'),
   ('71Tamara', 'W'),
   ('74Timothy', 'W'),
   ('84Brian', 'L'),
   ('114John', 'W'),
   ('98Brenda', 'W'),
   ('48Andrew', 'W'),
   ('34Martha', 'L'),
   ('48Andrew', 'L'),
   ('69William', 'W'),
   ('89Fran', 'L'),
   ('59James', 'W'),
   ('54Isabelle', 'W')],
  81: [('80Richard', 'L'),
   ('82Cecelia', 'L'),
   ('86Peter', 'W'),
   ('82Cecelia', 'W'),
   ('80Richard', 'W'),
   ('78Sheree', 'W'),
   ('73Dorothy', 'W'),
   ('79Sandra', 'L'),
   ('88Donald', 'W'),
   ('79Sandra', 'L'),
   ('85Bernard', 'W'),
   ('88Donald', 'W'),
   ('107Juanita', 'W'),
   ('69William', 'W')],
  89: [('88Donald', 'W'),
   ('91Doris', 'W'),
   ('93Linda', 'L'),
   ('95Bernard', 'L'),
   ('92Brandon', 'W'),
   ('85Bernard', 'W'),
   ('106Michael', 'W'),
   ('88Donald', 'W'),
   ('79Sandra', 'W'),
   ('49Sandy', 'W'),
   ('84Brian', 'L'),
   ('66Deanna', 'W'),
   ('93Linda', 'W'),
   ('84Brian', 'L')],
  93: [('92Brandon', 'W'),
   ('95Bernard', 'W'),
   ('89Fran', 'W'),
   ('84Brian', 'L'),
   ('95Bernard', 'L'),
   ('83Frances', 'W'),
   ('88Donald', 'L'),
   ('101Gregory', 'W'),
   ('104Christopher', 'W'),
   ('74Timothy', 'W'),
   ('79Sandra', 'W'),
   ('108Michael', 'W'),
   ('89Fran', 'L'),
   ('108Michael', 'W')],
  121: [('120Wanda', 'W'),
   ('123Viola', 'W'),
   ('124Ilene', 'L'),
   ('119Robert', 'W'),
   ('117Janice', 'W'),
   ('124Ilene', 'W'),
   ('107Juanita', 'W'),
   ('130Keisha', 'L'),
   ('84Brian', 'L'),
   ('154Roy', 'W'),
   ('109Jean', 'W'),
   ('127Emmanuel', 'L'),
   ('118Robert', 'W'),
   ('127Emmanuel', 'W')],
  130: [('131Jeffrey', 'L'),
   ('128Lucille', 'W'),
   ('131Jeffrey', 'W'),
   ('133William', 'W'),
   ('134Verna', 'W'),
   ('142Deanne', 'W'),
   ('145Tasia', 'W'),
   ('121Erica', 'W'),
   ('95Bernard', 'L'),
   ('84Brian', 'L'),
   ('145Tasia', 'W'),
   ('157Ryan', 'W'),
   ('127Emmanuel', 'W'),
   ('129Martin', 'L')],
  150: [('151Steven', 'W'),
   ('148Ivan', 'L'),
   ('151Steven', 'W'),
   ('152James', 'L'),
   ('153Margaret', 'W'),
   ('156Terry', 'W'),
   ('166Shirley', 'W'),
   ('148Ivan', 'W'),
   ('162Lucinda', 'L'),
   ('148Ivan', 'W'),
   ('157Ryan', 'L'),
   ('154Roy', 'W'),
   ('144Angela', 'W'),
   ('168Robert', 'W')],
  183: [('182Hugh', 'L'),
   ('181Patricia', 'W'),
   ('180Albert', 'W'),
   ('184Edith', 'W'),
   ('187Billy', 'W'),
   ('179Roderick', 'W'),
   ('168Robert', 'W'),
   ('154Roy', 'W'),
   ('213Carlos', 'W'),
   ('95Bernard', 'L'),
   ('213Carlos', 'L'),
   ('187Billy', 'L'),
   ('176Mary', 'W'),
   ('187Billy', 'W')],
  189: [('188Bryan', 'W'),
   ('191Bess', 'W'),
   ('187Billy', 'W'),
   ('179Roderick', 'W'),
   ('162Lucinda', 'L'),
   ('154Roy', 'L'),
   ('206Andrew', 'W'),
   ('178Tanya', 'W'),
   ('168Robert', 'L'),
   ('178Tanya', 'W'),
   ('198Frances', 'W'),
   ('201Randall', 'W'),
   ('213Carlos', 'W'),
   ('162Lucinda', 'L')],
  201: [('200James', 'W'),
   ('203Thomas', 'W'),
   ('206Andrew', 'L'),
   ('198Frances', 'L'),
   ('197Lorna', 'W'),
   ('196Esther', 'L'),
   ('192Christine', 'W'),
   ('203Thomas', 'W'),
   ('195Sandra', 'W'),
   ('206Andrew', 'W'),
   ('212John', 'W'),
   ('189Carl', 'L'),
   ('198Frances', 'W'),
   ('212John', 'W')],
  225: [('224Cheryl', 'W'),
   ('227Frances', 'W'),
   ('229Jean', 'W'),
   ('232Andre', 'L'),
   ('227Frances', 'L'),
   ('235Rodolfo', 'W'),
   ('227Frances', 'W'),
   ('217Fannie', 'L'),
   ('232Andre', 'L'),
   ('194Cindi', 'W'),
   ('230Stephanie', 'W'),
   ('222Alex', 'W'),
   ('235Rodolfo', 'W'),
   ('213Carlos', 'W')],
  251: [('250Joseph', 'W'),
   ('249Noemi', 'W'),
   ('255Norman', 'W'),
   ('242Rodney', 'W'),
   ('232Andre', 'W'),
   ('213Carlos', 'W'),
   ('129Martin', 'L'),
   ('238Janice', 'L'),
   ('274James', 'L'),
   ('305Virginia', 'L'),
   ('248Harry', 'W'),
   ('240Joe', 'W'),
   ('252Ruby', 'W'),
   ('232Andre', 'W')],
  261: [('260Lakeshia', 'W'),
   ('263James', 'L'),
   ('260Lakeshia', 'W'),
   ('266Traci', 'W'),
   ('259John', 'W'),
   ('263James', 'W'),
   ('284Willie', 'W'),
   ('274James', 'W'),
   ('238Janice', 'L'),
   ('274James', 'W'),
   ('217Fannie', 'L'),
   ('232Andre', 'L'),
   ('263James', 'W'),
   ('287Katrina', 'W')],
  283: [('282Mara', 'W'),
   ('281Nicholas', 'W'),
   ('284Willie', 'W'),
   ('274James', 'L'),
   ('284Willie', 'L'),
   ('277Kimberly', 'W'),
   ('279Matthew', 'W'),
   ('271Paul', 'W'),
   ('287Katrina', 'L'),
   ('284Willie', 'W'),
   ('274James', 'W'),
   ('287Katrina', 'W'),
   ('296Thelma', 'W'),
   ('272Yvonne', 'L')],
  302: [('303Glenn', 'W'),
   ('300Christina', 'W'),
   ('298Bernadette', 'W'),
   ('290Suzanne', 'L'),
   ('300Christina', 'W'),
   ('296Thelma', 'L'),
   ('293David', 'L'),
   ('307Lisa', 'W'),
   ('300Christina', 'W'),
   ('281Nicholas', 'W'),
   ('305Virginia', 'L'),
   ('295Nickolas', 'W'),
   ('289Susan', 'W'),
   ('296Thelma', 'W')],
  311: [('310Chad', 'W'),
   ('309Thomas', 'L'),
   ('308Walter', 'L'),
   ('313John', 'W'),
   ('312Luke', 'W'),
   ('314Cory', 'W'),
   ('307Lisa', 'W'),
   ('308Walter', 'W'),
   ('296Thelma', 'L'),
   ('293David', 'W'),
   ('319Emma', 'L'),
   ('317Charles', 'W'),
   ('305Virginia', 'W'),
   ('319Emma', 'W')],
  324: [('325Hector', 'W'),
   ('327Tim', 'W'),
   ('323Patrick', 'W'),
   ('331Dora', 'W'),
   ('350Jennifer', 'W'),
   ('361Frances', 'W'),
   ('274James', 'W'),
   ('449Cindy', 'L'),
   ('28Rosa', 'W'),
   ('129Martin', 'L'),
   ('296Thelma', 'L'),
   ('329Jose', 'W'),
   ('319Emma', 'W'),
   ('290Suzanne', 'L')],
  329: [('328Susan', 'W'),
   ('331Dora', 'L'),
   ('328Susan', 'L'),
   ('327Tim', 'W'),
   ('328Susan', 'W'),
   ('322Helen', 'L'),
   ('321Glenda', 'W'),
   ('325Hector', 'W'),
   ('334Warren', 'W'),
   ('317Charles', 'W'),
   ('333Pauline', 'W'),
   ('324William', 'L'),
   ('333Pauline', 'W'),
   ('345Dennis', 'W')],
  350: [('351Emerson', 'W'),
   ('348Janelle', 'W'),
   ('344Gonzalo', 'W'),
   ('338Kyle', 'W'),
   ('324William', 'L'),
   ('370Kristina', 'W'),
   ('361Frances', 'W'),
   ('333Pauline', 'L'),
   ('305Virginia', 'W'),
   ('333Pauline', 'W'),
   ('345Dennis', 'W'),
   ('417Jimmy', 'L'),
   ('356Kelly', 'W'),
   ('387Nancy', 'L')],
  356: [('357George', 'W'),
   ('358Ronald', 'W'),
   ('355Chi', 'L'),
   ('352Samuel', 'L'),
   ('357George', 'L'),
   ('359David', 'W'),
   ('360Clayton', 'W'),
   ('352Samuel', 'W'),
   ('358Ronald', 'W'),
   ('348Janelle', 'W'),
   ('344Gonzalo', 'W'),
   ('345Dennis', 'W'),
   ('350Jennifer', 'L'),
   ('361Frances', 'W')],
  369: [('368Grant', 'L'),
   ('371Joelle', 'L'),
   ('372Mara', 'W'),
   ('368Grant', 'W'),
   ('371Joelle', 'W'),
   ('364William', 'W'),
   ('380Cynthia', 'L'),
   ('358Ronald', 'L'),
   ('352Samuel', 'W'),
   ('358Ronald', 'W'),
   ('373Timothy', 'W'),
   ('379Louise', 'W'),
   ('380Cynthia', 'W'),
   ('378Jennifer', 'W')],
  393: [('392David', 'L'),
   ('395Beverly', 'W'),
   ('392David', 'W'),
   ('390Donald', 'L'),
   ('392David', 'L'),
   ('384Dane', 'W'),
   ('392David', 'W'),
   ('390Donald', 'W'),
   ('382Micheal', 'L'),
   ('390Donald', 'W'),
   ('389Carla', 'W'),
   ('382Micheal', 'W'),
   ('397Ronald', 'W'),
   ('399Sylvia', 'W')],
  425: [('424Jesse', 'L'),
   ('426Kaitlin', 'W'),
   ('427June', 'W'),
   ('429Deena', 'W'),
   ('424Jesse', 'L'),
   ('420Marie', 'W'),
   ('424Jesse', 'W'),
   ('423Brian', 'W'),
   ('427June', 'W'),
   ('397Ronald', 'W'),
   ('468John', 'W'),
   ('470Alyce', 'L'),
   ('427June', 'L'),
   ('423Brian', 'W')],
  437: [('436Maryann', 'L'),
   ('438Brian', 'W'),
   ('436Maryann', 'W'),
   ('441Anthony', 'W'),
   ('432Kevin', 'L'),
   ('439Don', 'W'),
   ('445Diana', 'L'),
   ('439Don', 'W'),
   ('431Belen', 'W'),
   ('456Jack', 'W'),
   ('427June', 'L'),
   ('435Emily', 'W'),
   ('443Lexie', 'W'),
   ('450David', 'W')],
  452: [('453Sarah', 'W'),
   ('455Leonard', 'W'),
   ('449Cindy', 'L'),
   ('450David', 'L'),
   ('448Loretta', 'W'),
   ('456Jack', 'W'),
   ('460Mel', 'W'),
   ('450David', 'L'),
   ('445Diana', 'W'),
   ('432Kevin', 'W'),
   ('461Maria', 'W'),
   ('450David', 'W'),
   ('468John', 'W'),
   ('427June', 'L')],
  468: [('469Ryan', 'L'),
   ('471Kim', 'W'),
   ('469Ryan', 'W'),
   ('473Joan', 'W'),
   ('465Katherine', 'W'),
   ('470Alyce', 'L'),
   ('465Katherine', 'W'),
   ('461Maria', 'W'),
   ('472Gladys', 'W'),
   ('450David', 'W'),
   ('425Eddie', 'L'),
   ('463John', 'W'),
   ('452Mark', 'L'),
   ('474Willie', 'W')],
  503: [('502Dustin', 'L'),
   ('501Amy', 'W'),
   ('500Ramiro', 'W'),
   ('505Barbara', 'L'),
   ('502Dustin', 'W'),
   ('509Joseph', 'W'),
   ('491David', 'W'),
   ('496Barbara', 'W'),
   ('486Frank', 'W'),
   ('12Rachel', 'W'),
   ('470Alyce', 'L'),
   ('510Penelope', 'L'),
   ('1Orville', 'W'),
   ('496Barbara', 'W')],
  510: [('511Katherine', 'L'),
   ('509Joseph', 'W'),
   ('511Katherine', 'W'),
   ('506Alisha', 'W'),
   ('505Barbara', 'W'),
   ('496Barbara', 'W'),
   ('486Frank', 'W'),
   ('508Kelly', 'L'),
   ('443Lexie', 'W'),
   ('470Alyce', 'L'),
   ('491David', 'W'),
   ('503Erika', 'W'),
   ('2Patrice', 'W'),
   ('470Alyce', 'L')],
  2: [('3Charlene', 'W'),
   ('1Orville', 'W'),
   ('5Debra', 'W'),
   ('15Pedro', 'W'),
   ('28Rosa', 'L'),
   ('32Damian', 'W'),
   ('48Andrew', 'L'),
   ('7Timothy', 'W'),
   ('15Pedro', 'L'),
   ('11Amy', 'W'),
   ('18Matthew', 'W'),
   ('15Pedro', 'L'),
   ('510Penelope', 'L'),
   ('11Amy', 'W')],
  13: [('12Rachel', 'W'),
   ('15Pedro', 'L'),
   ('12Rachel', 'W'),
   ('11Amy', 'L'),
   ('12Rachel', 'L'),
   ('19Delinda', 'W'),
   ('17Charles', 'L'),
   ('19Delinda', 'W'),
   ('10Shirley', 'W'),
   ('20Mable', 'W'),
   ('12Rachel', 'W'),
   ('3Charlene', 'W'),
   ('18Matthew', 'W'),
   ('15Pedro', 'L')],
  18: [('19Delinda', 'W'),
   ('16Megan', 'W'),
   ('21Michael', 'L'),
   ('17Charles', 'W'),
   ('21Michael', 'W'),
   ('27Robert', 'W'),
   ('11Amy', 'W'),
   ('34Martha', 'L'),
   ('48Andrew', 'L'),
   ('28Rosa', 'W'),
   ('2Patrice', 'L'),
   ('14Benjamin', 'W'),
   ('13Jennifer', 'L'),
   ('12Rachel', 'W')],
  30: [('31Lauren', 'W'),
   ('28Rosa', 'L'),
   ('29Corey', 'W'),
   ('27Robert', 'L'),
   ('29Corey', 'L'),
   ('25Sandra', 'L'),
   ('43Christopher', 'W'),
   ('31Lauren', 'W'),
   ('35Joan', 'W'),
   ('36Scott', 'W'),
   ('27Robert', 'W'),
   ('24Richard', 'L'),
   ('29Corey', 'W'),
   ('24Richard', 'W')],
  32: [('33Louise', 'W'),
   ('34Martha', 'W'),
   ('38Jackie', 'W'),
   ('41Gail', 'W'),
   ('48Andrew', 'L'),
   ('2Patrice', 'L'),
   ('114John', 'W'),
   ('23Charles', 'W'),
   ('40Robert', 'W'),
   ('15Pedro', 'L'),
   ('45Barbara', 'W'),
   ('28Rosa', 'L'),
   ('24Richard', 'W'),
   ('48Andrew', 'L')],
  45: [('44Diana', 'W'),
   ('46Delores', 'L'),
   ('44Diana', 'W'),
   ('46Delores', 'W'),
   ('41Gail', 'W'),
   ('34Martha', 'L'),
   ('41Gail', 'W'),
   ('40Robert', 'L'),
   ('23Charles', 'W'),
   ('40Robert', 'W'),
   ('32Damian', 'L'),
   ('41Gail', 'W'),
   ('54Isabelle', 'L'),
   ('41Gail', 'W')],
  54: [('55Angela', 'W'),
   ('53Joanne', 'L'),
   ('55Angela', 'W'),
   ('56Jo', 'L'),
   ('57Michael', 'W'),
   ('60George', 'L'),
   ('63Jolene', 'W'),
   ('53Joanne', 'L'),
   ('60George', 'W'),
   ('53Joanne', 'W'),
   ('56Jo', 'W'),
   ('49Sandy', 'W'),
   ('45Barbara', 'W'),
   ('66Deanna', 'L')],
  55: [('54Isabelle', 'L'),
   ('52Ashley', 'W'),
   ('54Isabelle', 'L'),
   ('57Michael', 'L'),
   ('52Ashley', 'L'),
   ('61Celeste', 'L'),
   ('47Lesa', 'W'),
   ('61Celeste', 'W'),
   ('77Denise', 'W'),
   ('44Diana', 'W'),
   ('53Joanne', 'W'),
   ('56Jo', 'W'),
   ('62Jada', 'W'),
   ('49Sandy', 'W')],
  59: [('58Donna', 'W'),
   ('57Michael', 'W'),
   ('62Jada', 'W'),
   ('48Andrew', 'L'),
   ('62Jada', 'L'),
   ('56Jo', 'L'),
   ('39Betty', 'W'),
   ('60George', 'W'),
   ('53Joanne', 'W'),
   ('73Dorothy', 'W'),
   ('49Sandy', 'W'),
   ('34Martha', 'L'),
   ('66Deanna', 'L'),
   ('67Mary', 'W')],
  69: [('68Michelle', 'W'),
   ('71Tamara', 'L'),
   ('68Michelle', 'W'),
   ('67Mary', 'W'),
   ('71Tamara', 'W'),
   ('79Sandra', 'L'),
   ('74Timothy', 'W'),
   ('56Jo', 'W'),
   ('49Sandy', 'L'),
   ('56Jo', 'W'),
   ('66Deanna', 'L'),
   ('62Jada', 'W'),
   ('73Dorothy', 'W'),
   ('81Anthony', 'L')],
  79: [('78Sheree', 'W'),
   ('77Denise', 'W'),
   ('74Timothy', 'L'),
   ('78Sheree', 'W'),
   ('74Timothy', 'W'),
   ('69William', 'W'),
   ('95Bernard', 'L'),
   ('81Anthony', 'W'),
   ('89Fran', 'L'),
   ('81Anthony', 'W'),
   ('93Linda', 'L'),
   ('73Dorothy', 'L'),
   ('83Frances', 'W'),
   ('73Dorothy', 'W')],
  98: [('99Bobbye', 'W'),
   ('97Samuel', 'W'),
   ('100George', 'W'),
   ('107Juanita', 'W'),
   ('114John', 'W'),
   ('84Brian', 'L'),
   ('66Deanna', 'L'),
   ('97Samuel', 'L'),
   ('107Juanita', 'W'),
   ('97Samuel', 'L'),
   ('88Donald', 'L'),
   ('102Mary', 'W'),
   ('97Samuel', 'W'),
   ('88Donald', 'W')],
  106: [('107Juanita', 'L'),
   ('104Christopher', 'W'),
   ('105Justin', 'W'),
   ('102Mary', 'L'),
   ('104Christopher', 'W'),
   ('99Bobbye', 'W'),
   ('89Fran', 'L'),
   ('109Jean', 'L'),
   ('114John', 'L'),
   ('119Robert', 'W'),
   ('104Christopher', 'W'),
   ('114John', 'W'),
   ('109Jean', 'W'),
   ('107Juanita', 'W')],
  108: [('109Jean', 'L'),
   ('111Carl', 'W'),
   ('109Jean', 'L'),
   ('105Justin', 'W'),
   ('110Gertrude', 'W'),
   ('115Michael', 'W'),
   ('119Robert', 'W'),
   ('107Juanita', 'W'),
   ('97Samuel', 'W'),
   ('127Emmanuel', 'L'),
   ('97Samuel', 'W'),
   ('93Linda', 'L'),
   ('115Michael', 'W'),
   ('93Linda', 'L')],
  115: [('114John', 'L'),
   ('113Carrie', 'W'),
   ('112Carolyn', 'W'),
   ('117Janice', 'L'),
   ('116Billy', 'W'),
   ('108Michael', 'L'),
   ('116Billy', 'W'),
   ('114John', 'W'),
   ('109Jean', 'L'),
   ('114John', 'W'),
   ('116Billy', 'W'),
   ('109Jean', 'W'),
   ('108Michael', 'L'),
   ('118Robert', 'W')],
  120: [('121Erica', 'L'),
   ('122Carlton', 'L'),